# فایل‌های باینری و خروجی
*.exe
*.out
*.o
*.a
*.so
*.dll

# پوشه‌های build
build/
bin/
obj/

# فایل‌های پشتیبان و موقتی
*.log
*.tmp
*~
*.swp

# تنظیمات ویژوال استودیو کد
.vscode/
*.code-workspace

# تنظیمات CLion و CMake
.idea/
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# سیستم‌عامل‌ها
.DS_Store       # macOS
Thumbs.db       # Windows



